<div *ngIf="isLoading">
    
</div>
<div *ngIf="courses.length" style="margin-top: 64px !important;">
    <div class="row">
        <div class="col-sm-12 col-md-3 col-lg-3 mb-4 mr-2">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12 mb-4 mb-4">
                    <h1 class="gray mb-4">CATEGORIES</h1>
                    <div style="color: gray; padding-left: 5px !important">
                        <p *ngFor="let categories of courseCategories; let i as index">
                            <mat-checkbox color="primary" class="example-margin" 
                                (change)="setFilterCategories($event.checked,categories.id)">
                                {{categories.name}}
                            </mat-checkbox>
                        </p>
                    </div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-12 mb-4 mb-4">
                    <h1 class="gray mb-4">FREE or WITH PAYMENT</h1>
                    <div style="color: gray; padding-left: 5px !important">
                        <p *ngFor="let option of paymentOptions">
                            <mat-checkbox color="primary" class="example-margin" 
                                (change)="setFilterPayment($event.checked,option.value)">
                                {{option.title|titlecase}}
                            </mat-checkbox>
                        </p>
                    </div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-12 mb-4 mb-4">
                    <h1 class="gray mb-4">CERTIFICATION</h1>
                    <div style="color: gray; padding-left: 5px !important">
                        <p *ngFor="let option of certificationOptions">
                            <mat-checkbox color="primary" class="example-margin" 
                                (change)="setFiltercertificate($event.checked,option.value)">
                                {{option.title|titlecase}}
                            </mat-checkbox>
                        </p>
                    </div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-12 mb-4 mb-4">
                    <h1 class="gray mb-4">COURSE LENGTH</h1>
                    <div style="color: gray; padding-left: 5px !important">
                        <p *ngFor="let option of courseLengthOptions">
                            <mat-checkbox color="primary" class="example-margin" 
                                (change)="setFilterCourseLength($event.checked,option.value)">
                                {{option.title|titlecase}}
                            </mat-checkbox>
                        </p>
                    </div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-12 mb-4 mb-4">
                    <hr style="color: gray;" />
                    <button type="button" class="btn btn-primary">
                        <i class="fa fa-search pr-4" aria-hidden="true"></i>
                        <small>Filter</small>
                    </button>
                    <button type="button" class="btn btn-danger"  style="float: right;">
                        <i class="fa fa-refresh pr-4" aria-hidden="true"></i>
                        <small>Reset</small>
                    </button>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-9 col-lg-9 mb-4 mr-2">
            <p class="gray">Results: {{ courses.length }} courses
            </p>
            <div class="row">
                <div class="col-sm-12 col-md-5 col-lg-5 mb-4 mr-2" *ngFor="let course of courses; let i = index">
                    <div class="card">
                        <img class="card-img-top" style="height: 220px !important" [src]="course?.overviewfiles[0]?.fileurl + '?token='+ adminToken"
                            [alt]="course?.overviewfiles[0]?.filename" width="100%" height="30%">

                        <div class="card-body">
                            <h5 class="card-title">
                                <a routerLink="/detail/{{course?.id}}" [state]="course" 
                                    style="font-size: 15px;color: #3c4043; font-weight: 500; text-decoration: none !important;">
                                    {{course?.displayname}}
                                </a>
                            </h5>
                            <p class="mt-4" style="color: gray;">
                                <span>
                                    <span><i class="icons1 fa fa-bars" aria-hidden="true"></i>
                                    </span>
                                    <span>Modules : {{ course?.customfields[5]?.valueraw }}</span>
                                </span>

                                <span>
                                    <span><i class="icons1 fa fa-clock-o" aria-hidden="true"></i>
                                    </span>
                                    <span>Estimated Hours : {{ course?.customfields[4]?.valueraw }}</span>
                                </span>
                            </p>
                            <p>
                                <a routerLink="/detail/{{course?.id}}" [state]="course" style="float: right !important; color: #1a73e8 !important;">
                                    <i class="fa fa-arrow-right" aria-hidden="true"></i>
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row" *ngIf="!isLoading && !courses.length">
    <h2 style="color: gray;
    font-weight: lighter;
    text-align: center;
    margin-top: 12px;
">-- no courses available --</h2>
</div>
