.row {
    margin-bottom: 30px !important;
}

.error {
    color: red !important;
}

.btn-block {
    width: 100% !important;
}

.fa-spinner {
    font-size: 32px !important;
  }

  label{
    color: gray;
    font-weight: lighter;
    font-size: 17px;
    margin-bottom: 20px !important;
  }

  .heading-title {
    color: gray !important;
    font-weight: lighter !important;
    font-size: 32px !important;
    text-align: center !important;
    margin-top: 23px !important;
  }

  .heading-subtitle {
    color: gray !important;
    font-size: 16px !important;
    text-align: center !important;
    margin-bottom: 37px !important;
    font-weight: lighter !important;
  }