<div class="container">
    <div class="row">
        <div class="col-lg-1 col-md-1 col-sm-12"></div>
        <div class="col-lg-10 col-md-10 col-sm-12">
            <div class="card">
                <div class="card-body">
                    <p class="heading">
                        THE ETHIOPIAN CHAMBER ACADEMY BACKGROUND
                    </p>
                    <p class="body">
                        Ethiopian Chamber Academy (ECA) emerged as a national training provider in March 2014 destined to serve chamber and association leaders, managers, and professionals to further their professional development and build their capacity to lead and operate within their organizations. The most notable elements that have contributed to the formation of the ECA include:
                    </p>
                    <p class="body">
                        <li>
                            The development of 17 courses and their translation into local vernacular;
                        </li><br />
                        <li>
                            The training of 29 Ethiopian trainers on 13 different topics through two training programs.
                        </li><br />
                        <li>
                            The training was received through the International Organization for Management (IOM) training program sponsored by the U.S. Chamber Foundation and a study tour organized in the United States.
                        </li><br />
                        <li>
                            The Academy’s official launch ceremony was held on March 25, 2014 at the Elilly International Hotel. The attendees included a host of foreign ambassadors, government representatives, members of international development organizations, ECCSA partners, and other stakeholders.
                        </li>
                    </p>
                    <p>
                    </p><br />
                    <p class="heading">
                        Launching Ceremony of the Chamber Academy
                    </p>
                    <p class="body">
                        As a training wing of ECCSA, ECA organizes a variety of training programs to improve the skills of Chamber and association leaders, managers, and professionals throughout the business community. As a result, the Academy has been able to obtain the necessary training and organizational experience as well as build their network of a wide range of industry experts, leading practitioners and consultants.
                    </p>

                    <p>
                    </p><br />
                    <p class="heading">
                        OBJECTIVES OF THE ACADEMY
                    </p>
                    <p class="body">
                        <li>
                            To strengthen the leadership and management skills of the Ethiopian Business Membership Organizations (BMOs) especially Chambers and Sector-based Associations.
                        </li><br />
                        <li>
                            To establish a standard for professional association management through its certification program
                        </li><br />
                        <li>
                            To create platforms to share best practices and experiences among Ethiopian Chambers, Associations and other membership based organizations on areas of Leadership and Management activities.
                        </li><br />
                    </p>
                    <p>
                    </p><br />
                    <p class="heading">
                        ECA’S ORGANIZATIONAL PROFILE
                    </p>
                    <p class="body">
                        <li>
                            The ECA has competent, experienced, and receptive in-house staff who are responsible for organizing trainings, follow-up and monitoring training events;
                        </li><br />
                        <li>
                            The Academy has maintained a network of industry experts, practitioners, and consultants with professional experience and the educational background to engage in training delivery;
                        </li><br />
                        <li>
                            The ECA has a well-located training room on ECCSA premises with all of the necessary facilities and training resources;
                        </li><br />
                        <li>
                            The training programs that ECA provides have benefited from study-tours to the United States to participate in the U.S. Chamber Foundation’s Institute of Organizational Management and a strong international network focused on building capacity for chambers and association members throughout the USA;
                        </li><br />
                        <li>
                            The ECA is becoming an industry leader in Leadership and Governance trainings across the business sector;
                        </li><br />
                        <li>
                            The Academy established an Advisory Board to oversee the effectiveness and financial sustainability of the academy.
                        </li><br />
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-1 col-md-1 col-sm-12"></div>
    </div>
</div>