<div class="card upperCard">
    <div class="container-fluid" style="margin-top: 45px !important;">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2"></div>
            <div class="col-sm-12 col-md-8 col-lg-8">
                <div style="margin-top: 0px; padding: 25px;">
                    <h1  class="mb-4 mt-4 upperText">
                        My Learning Plan
                    </h1>
                    <p class="mb-4 lowerText">
                        Keep track of all the courses you've added. Let's get started!
                    </p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2"></div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="card lowerCard">
                <mat-tab-group>
                    <mat-tab label="In progress ({{inprogress.length}})">
                        <div class="row mb-4" *ngIf="!inprogress.length" style="width: 100% !important;">
                            <div class="col-sm-12 col-md-3 col-lg-3 mb-4">
                                <div class="card courseCard" style="padding: 24px !important;">
                                    <div class="empty-card">
                                       <h4 class="empty-card-title">What would you like to learn?</h4>
                                       <p class="empty-card-description mt-4">Get started by adding courses to your plan.</p>
                                       <h4 class="empty-card-button mt-4">
                                        <button class="btn btn-primary" [routerLink]="['/courses']">
                                            Find courses
                                        </button>
                                       </h4>
                                    </div> 
                                </div>
                            </div>
                        </div>
    
                        <div class="row mt-4" style="width: 100% !important;" *ngIf="inprogress.length">
                            <div class="col-sm-12 col-md-4 col-lg-4 mb-4" *ngFor="let course of inprogress; let i = index">
                                <div class="card">
                                    <mat-icon class="removeButton" (click)="removeCourse(course);">delete_forever</mat-icon>
                                    <img class="card-img-top" style="height: 220px !important" [src]="course?.overviewfiles[0]?.fileurl + '?token='+ adminToken"
                                        [alt]="course?.overviewfiles[0]?.filename" width="100%" height="100%">
            
                                    <div class="card-body">
                                        <h5 class="card-title mb-4">
                                            <a routerLink="/learning" [state]="course" 
                                                style="font-size: 15px;color: #3c4043; font-weight: 500; text-decoration: none !important;">
                                                {{course?.displayname}}
                                            </a>
                                        </h5>
                                        <p>
                                            <span>
                                                <circle-progress
                                                [percent]="course?.progress"
                                                [radius]="25"
                                                [outerStrokeWidth]="5"
                                                [innerStrokeWidth]="5"
                                                [outerStrokeColor]="'#78C000'"
                                                [innerStrokeColor]="'#e7e8ea'"
                                                [showInnerStroke]="true"
                                                [renderOnClick]="false"
                                                [animation]="true"
                                                [animationDuration]="300"
                                                [space]="-4"
                                                [showSubtitle]="false"
                                                [showUnits]="true"
                                                [startFromZero]="true"
                                                [clockwise]="true"
                                                titleFontSize='10'
                                                ></circle-progress> 
                                            </span>
                                            <span style="float: right !important; color: #1a73e8 !important; margin-right: 34px;
                                            margin-top: 14px;">
                                                <a routerLink="/learning" [state]="course">
                                                    <mat-icon>arrow_forward</mat-icon>
                                                </a>     
                                            </span>
                                        </p>
                                        <!-- <p>
                                            <a routerLink="/detail/{{course?.id}}" [state]="course" style="float: right !important; color: #1a73e8 !important;">
                                                <i class="fa fa-arrow-right" aria-hidden="true"></i>
                                            </a>
                                        </p> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </mat-tab>
                    <mat-tab label="Completed ({{completed.length}})">
                        <div class="card lowercard" *ngIf="!completed.length" style="padding: 24px !important;">
                            <div class="empty-card" *ngIf="true">
                               <h4 class="empty-card-title">What would you like to learn?</h4>
                               <p class="empty-card-description mt-4">Go back to your courses in progress.</p>
                               <h4 class="empty-card-button mt-4">
                                <button class="btn btn-primary">
                                    View in progress
                                </button>
                               </h4>
                            </div> 
                        </div>
                        <div class="col-sm-12 col-md-3 col-lg-3 mb-4" *ngFor="let course of completed; let i = index">
                            <div class="card courseCard">
                                <mat-icon class="removeButton"  (click)="removeCourse(course);">delete_forever</mat-icon>
                                <img class="card-img-top" style="height: 220px !important" [src]="course?.overviewfiles[0]?.fileurl + '?token='+ adminToken"
                                    [alt]="course?.overviewfiles[0]?.filename" width="100%" height="100%">
        
                                <div class="card-body">
                                    <h5 class="card-title mb-4">
                                        <a routerLink="/learning" [state]="course" 
                                            style="font-size: 15px;color: #3c4043; font-weight: 500; text-decoration: none !important;">
                                            {{course?.displayname}}
                                        </a>
                                    </h5>
                                    <p>
                                        <span>
                                            <circle-progress
                                            [percent]="course?.progress"
                                            [radius]="25"
                                            [outerStrokeWidth]="5"
                                            [innerStrokeWidth]="5"
                                            [outerStrokeColor]="'#78C000'"
                                            [innerStrokeColor]="'#e7e8ea'"
                                            [showInnerStroke]="true"
                                            [renderOnClick]="false"
                                            [animation]="true"
                                            [animationDuration]="300"
                                            [space]="-4"
                                            [showSubtitle]="false"
                                            [showUnits]="true"
                                            [startFromZero]="true"
                                            [clockwise]="true"
                                            titleFontSize='10'
                                            ></circle-progress> 
                                        </span>
                                        <span style="float: right !important; color: #1a73e8 !important; margin-right: 34px;
                                        margin-top: 14px;">
                                            <a routerLink="/learning" [state]="course">
                                                <mat-icon>arrow_forward</mat-icon>
                                            </a>     
                                        </span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </mat-tab>
                </mat-tab-group>
            </div>
        </div>    
    </div>
</div>    