.empty-card{
    padding: 24px;
    background-color: aliceblue;
    width: 443px;
    text-align: center;
    color: gray;
    font-weight: 400;
    border-style: dashed;
    border-width: thin;
}

.gray {
    color: gray !important;
    font-size: 18px !important;
}

.card{
    border-radius: 0px !important;
}

.icons1 {
    margin-right: 8px;
    color: gold;
    font-size: 20px;
    font-weight: lighter;
    /* margin-left: 13px; */
}

.courseCard{
    background-color: #fff;
    border: 1px solid #e8eaed;
    border-radius: 6px;
    box-shadow: 0 0 12px 0 #f1f3f4;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 0;
    outline: none;
    position: relative;
    transition: transform .2s,filter .2s,box-shadow .4s;
    width: 100%;
    z-index: 1;
}