.empty-card{
    padding: 24px;
    background-color: aliceblue;
    width: 443px;
    text-align: center;
    color: gray;
    font-weight: 400;
    border-style: dashed;
    border-width: thin;
}

.gray {
    color: gray !important;
    font-size: 18px !important;
}

.card{
    border-radius: 0px !important;
}

.icons1 {
    margin-right: 8px;
    color: gold;
    font-size: 20px;
    font-weight: lighter;
    /* margin-left: 13px; */
}

.modulesItem{
    padding: 35px !important;
    margin-bottom: 25px;
    color: #3c4043;
    font-weight: 500;
    font-size: 18px;
    cursor: pointer !important;

    margin-left: 15px !important;
    margin-right: 15px !important;
}

.modulesItem:hover{
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.icons {
    text-align:center !important;
    color: #1a73e8 !important;
}

.vl {
    border-left: 1px solid #d3d5d3 !important;
    height: 251px !important;
    text-align: center !important;
    margin-left: 51px !important;
}


/* circular progress bar */
#progress {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    float: left;
    margin-top: 3px;
    margin-right: 10px;
}

#progress-value {
    display: block;
    height: calc(100% - 4px);
    width: calc(100% - 4px);
    background-color: 
    #ffffff;
    border-radius: 50%;
    display: grid;
    place-items: center;
    font-weight: 600;
    font-size: 20px;
}