.slideImage {
    /* height: 600px; */
    /* height: fit-content !important; */
  }

  .largeScreen {
    height: 600px !important;
    width: 100% !important;
  }

  @media only screen and (max-width: 760px) {
    .carousel-description {
      font-size: 10px !important;
      margin-top: -56px !important;
    }

  }