.gray {
    color: gray !important;
    font-weight: lighter !important;
}

.icons1 {
    margin-right: 15px;
    color: gold;
    font-size: 20px;
    font-weight: lighter;
    margin-left: 10px;
}

.icons2 {
    margin-right: 15px;
    color: green;
    font-size: 20px;
    font-weight: lighter;
    margin-left: 10px;
}

.steps {
    text-align: center;
    color: gray;
    font-weight: lighter;
    font-size: 19px !important;
}

.moduleCards {
    padding: 28px !important;
    border-radius: 0px !important;
    margin-right: 20px !important;
    height: auto !important;
    margin-bottom: 25px;
    text-align: left;
    font-weight: lighter;
    max-height: 359px !important;
}


.innerModuleCards{
    overflow-y: scroll;
    max-height: 300px !important;
}

#main {
    overflow-y: scroll !important;
    width: 1300px;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
}

.cdk-overlay-pane{
    margin-top: 87px !important;
}

.numbers{
    border-radius: 50%; 
    width:16%; 
    height: 10%; 
    font-size: 33px;
}

/* circular progress bar */
#progress {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    float: left;
    margin-top: 3px;
    margin-right: 10px;
}

#progress-value {
    display: block;
    height: calc(100% - 4px);
    width: calc(100% - 4px);
    background-color: 
    #ffffff;
    border-radius: 50%;
    display: grid;
    place-items: center;
    font-weight: 600;
    font-size: 20px;
}

.moduleCardsContainer{
  display: flex;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  margin: 10px 0;    
}

::-webkit-scrollbar {
    display: none;
}

@media only screen and (max-width: 760px) {
    .moduleCards {
        width: 350px !important;
    }
  }

.scrollButtonLeft {
    margin-top: 214px;
    margin-left: 59px;
    color: gray;
    font-size: x-large;
    cursor: pointer;
}  

.scrollButtonRight {
    margin-top: 214px;
    margin-right: 59px;
    color: gray;
    font-size: x-large;
    cursor: pointer;
}