.gray {
    color: gray !important;
    font-weight: lighter !important;
}

.icons1 {
    margin-right: 15px;
    color: gold;
    font-size: 20px;
    font-weight: lighter;
    margin-left: 10px;
}

.icons2 {
    margin-right: 15px;
    color: green;
    font-size: 20px;
    font-weight: lighter;
    margin-left: 10px;
}

.steps {
    text-align: center;
    color: gray;
    font-weight: lighter;
    font-size: 19px !important;
}

.moduleCards {
    padding: 25px !important; 
    width: 600px !important;
    border-radius: 0px !important;
    margin-right: 20px !important;
    display: inline !important;
    /* width: 100% !important; */
}

#main {
    overflow-y: scroll !important;
    width: 1300px;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
}