.gray{
    color: gray !important;
    font-weight: lighter;
}

label{
    color: gray !important;
    font-weight: lighter; 
    margin-bottom: 10px !important;
}

.mb-4{
    margin-bottom: 27px !important;
}

.btn-primary {
    /* border-radius: 0px !important; */
}