<div class="row">
    <div class="col-sm-12 col-md-3 col-lg-3"></div>
    <div class="col-sm-12 col-md-6 col-lg-6" *ngIf="!showResponseMessage">
        <div class="card" style="padding: 30px; margin-top: 86px;">
            <h1 class="mb-4" class="gray">Reset Password</h1>
            <hr class="mb-4" />
            <p class="gray">
                To reset your password, submit your username or your email address below. 
                If we can find you in the database, an email will be sent to your email address, with instructions how to get access again.
            </p>
            <form [formGroup]="formGroup">
                <p style="font-size: 20px;">
                    Search by username
                </p>
                <div class="mb-4">
                    <label>User name</label>
                    <input class="form-control form-control-lg"  required formControlName="username">
                </div>

                <button *ngIf="!showLoadingUsername" type="submit" class="btn btn-primary btn-lg btn-block"
                (click)="Submit(true)" 
                [disabled]="getControls('username').invalid">
                   Search
               </button>
               <div class="btn btn-primary btn-lg btn-block disabled" *ngIf="showLoadingUsername">
                   Search <i class="fa fa-spinner ml-4" aria-hidden="true"></i>
               </div>


                <p style="font-size: 20px;" class="mt-4">
                    Search by email address
                </p>
                <div class="mb-4">
                    <label>Email address</label>
                    <input class="form-control form-control-lg" required
                    type="email" required formControlName="email">
                </div>
                <hr class="mb-4" />

                <button *ngIf="!showLoadingEmail" type="submit" class="btn btn-primary btn-lg btn-block"
                 (click)="Submit(false)" 
                 [disabled]="getControls('email').invalid">
                    Search
                </button>
                <div class="btn btn-primary btn-lg btn-block disabled" *ngIf="showLoadingEmail">
                    Search <i class="fa fa-spinner ml-4" aria-hidden="true"></i>
                </div>
                <p class="mt-4" *ngIf="backendError">
                    {{ backendError | titlecase }}
                </p>
            </form>
        </div>
    </div>
    <div  class="col-sm-12 col-md-12 col-lg-12" *ngIf="showResponseMessage" style="margin-top: 83px;">
        <ngb-alert type="success" [dismissible]="false">
        <p class="gray" [innerHTML]="backendError | htmlSanitaizer">
            <!-- {{ backendError | titlecase }} -->
        </p>
        <p>
            <a class="btn btn-light" [routerLink]="['/courses']">
                Continue
            </a>
        </p>
        </ngb-alert>
    </div>
    <div class="col-sm-12 col-md-3 col-lg-3"></div>
</div>